$primary: #ff7b79;
$secondary: #333;

$white: #FFFFFF;
$black: #000000;
$grey-100: #9B9B9B;
$grey-200: #D9DEE2;
$grey-300: #eef1f3;
$grey-400: #A9B2B9;
$grey-600: #7B858F;
$grey-800: #434D56;
$grey-900: #232C34;
$grey-1000: #1A2128;
$gray-3: #F5F5F5;
$gray-5: #D9D9D9;
$gray-6: #BFBFBF;
$error-normal: #FF4D4F;
$hover: #820014;
$dustred-1: #FFF1F0;
$dustred-3: #FFA39E;
$dustred-5: #FF4D4F;
$dustred-6: #F5222D;
$calendulagold-1: #FFFBE6;
$calendulagold-3: #FFE58F;
$calendulagold-6: #FAAD14;
$polargreen-1: #F6FFED;
$polargreen-3: #B7EB8F;
$polargreen-6: #52C41A;
$success-4: #4A9D2D;
$faint-grey-200: #9c9fa2;
$faint-grey-300: #abb3bb;
$transparent: #ffffff00;