@import '../styles/color.scss';

.container{
background-color: $white;
    .header-text{
        color: $primary;
    }
    .lead{
        color: $secondary;
        font-weight: 600;
    text-align: left;
    }
}