.reset-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1.2fr 1fr;

  @media (max-width: 768px) {
    align-items: center;
    margin: 0 auto;
    grid-template-columns: none;
  }

  .reset-left-container {
    padding: 90px 30px;
    margin: 40px 30px;
    position: relative;

    .reset-title-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0px;
      gap: 4px;
      margin-bottom: 24px;

      .reset-heading-logo {
        height: 36px;
        width: 36px;
        margin-bottom: 12px;
      }

      .reset-heading {
        font-weight: 700;
        font-size: 28px;
        line-height: 32px;
        color: $grey-1000;

        @media (max-width: 768px) {
          font-size: 24px;
          line-height: 29px;
        }
      }

      .reset-sub-heading {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;

        @media (max-width: 500px) {
          max-width: 250px;
          text-align: center;
        }
      }
    }
    .reset-form {
      max-width: 400px;
      margin: 0 auto;

      @media (max-width: 768px) {
        padding-left: 16px;
        padding-right: 16px;
      }

      .input-field-reset-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        // padding: 8px;
        gap: 8px;

        @media (max-width: 768px) {
          flex-direction: column;
          width: 100%;
        }

        .fill-width {
          width: 100%;
        }

        .reset-forgot-password {
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          text-align: right;
          color: $primary;
        }

        .input-field-reset {
          display: flex;
          flex-direction: column;
          // margin-right: 20px;

          @media (max-width: 600px) {
            flex-direction: column;
            width: 100%;
          }

          .reset-label {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: $grey-800;
            margin-bottom: 4px;
            padding-left: 4px;
          }

          input {
            border: 1px solid #d9dee2;
            border-radius: 10px;
            padding: 12px 12px 12px 0px;
            outline: none;
            padding-left: 14px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: $grey-600;

            &::placeholder {
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              color: $grey-600;
            }
          }
        }
      }

      .button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 24px;
        gap: 8px;
        margin-top: 18px;
        // width: 378px;
        height: 50px;
        margin-bottom: 12px;
        background: $primary;
        border-radius: 10px;
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        color: $white;
        cursor: pointer;
      }

      .reset-already-account-wrapper {
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        color: $grey-1000;

        .cta {
          margin-top: 12px;

          span {
            color: $primary;
            line-height: 20px;
          }
        }
      }
    }

    .reset-copyright-text {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      text-decoration-line: underline;
      color: $grey-400;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      margin-bottom: 14px;
    }
  }
}
.reset-right-container {
  @media (max-width: 768px) {
    display: none;
  }
  .reset-img {
    width: 100%;
    height: 92vh;
  }
}
